*{ box-sizing: border-box }

img {
   width: 100%;
   display: block;
}


body{
   background: #1E824C;
}

#app-container{
	background: #fff;
}

table img {
   width: 40px;
}

.remove{
	color: #C0392B;
}

.remove:hover{
	color: #E08283; 
}

.remove:active{
	color: #E87E04;
}